.bg-main {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  z-index: -5;
}

.img-banner {
  background: var(--bg-mobile);
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 30%;
}
.default {
  height: 70%;
  background-color: var(--primary-clr-150);
}

@media screen and (min-width: 780px) {
  .img-banner {
    background: var(--bg-desktop);
  }
}
