.container {
  padding-block: 0.7em;
  /* gap: 1rem; */
  background-color: var(--primary-clr-50);
  border-radius: 0.5rem;
}

.h-flex {
  display: flex;
  align-items: center;
}

.info {
  justify-content: space-between;
  align-items: center;
  margin-left: 0.5rem;
  padding-right: 1rem;
  padding-top: 1rem;
}

.round {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  border: 1px solid var(--primary-clr-400);
  margin-left: 0.5rem;
  margin-bottom: 0.4rem;
  cursor: pointer;
}

.check_mark {
  background:
    url("../assets/images/icon-check.svg") center / contain no-repeat,
    linear-gradient(to right, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  border: none;
}

.todo_text {
  height: 24px;
  margin-left: 0.5rem;
  font-size: 1.2rem;
  /* justify-self: right; */
  cursor: pointer;
}
.input-margins {
  margin: 1.4em 0.4em;
}

.border {
  border-bottom: 1px solid var(--primary-clr-400);
  border-radius: 0;
}

.icon_container {
  margin-left: auto;
  padding-right: 1rem;
  cursor: pointer;
  /* width: 2rem; */
  /* height: 50%; */
}

.icon {
  font-size: 100px;
  color: var(--primary-clr-400);
}

.light {
  color: var(--primary-clr-200);
}

.container.h-flex.info > .container.controls {
  display: none;
  margin: 0;
}

@media screen and (min-width: 750px) {
  .container.h-flex.info > .container.controls {
    display: flex;
  }
}

.actions:hover {
  color: var(--primary-clr-400);
  cursor: pointer;
}

.error {
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  font-weight: 600;
}

.strike-through {
  color: var(--primary-clr-200);
  text-decoration: line-through;
}
