.container {
  padding-block: 1em;
  background-color: var(--card-bg);
  border-radius: 0.5rem;
}

.h-flex {
  display: flex;
  align-items: center;
}

.info {
  justify-content: space-between;
  align-items: center;
  margin-left: 0.5rem;
  padding-right: 1rem;
  padding-top: 1rem;
}

.round {
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  border: 1px solid var(--light-clr-1);
  margin-bottom: 0.5em;
  margin-left: 0.5rem;
  cursor: pointer;
  transition: box-shadow var(--transition-speed);
}

.round:hover {
  box-shadow:
    0 0 1px 1px hsl(192, 100%, 67%),
    0 0 1px 1px hsl(280, 87%, 65%);
}

.dnd {
  margin: 5rem auto;
  width: fit-content;
}

.check_mark {
  background:
    url("../assets/images/icon-check.svg") center / contain no-repeat,
    linear-gradient(to right, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  border: none;
}

.todo_text {
  color: var(--main-clr);
  height: 26px;
  margin-left: 0.5rem;
  font-size: 1.5rem;
  cursor: pointer;
}
.input-margins {
  margin: 1.4em 0.4em;
}

.border {
  border-bottom: 1px solid var(--light-clr-1);
  border-radius: 0;
}

.icon_container {
  margin-left: auto;
  padding-right: 1rem;
  cursor: pointer;
}

.icon {
  font-size: 100px;
  color: var(--light-clr-1);
}

.light {
  color: var(--light-clr-1);
  transition: color var(--transition-speed);
}

.container.h-flex.info > .container.controls {
  display: none;
  margin: 0;
}

@media screen and (min-width: 750px) {
  .container.h-flex.info > .container.controls {
    display: flex;
  }
}

.actions:hover {
  color: var(--main-clr);
  cursor: pointer;
}

.error {
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  font-weight: 600;
}

.strike-through {
  color: var(--main-clr);
  text-decoration: line-through;
}
