.controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: var(actions--primary-clr-50);
  padding: 1rem;
  margin-top: 2rem;
  text-transform: capitalize;
}
@media screen and (min-width: 750px) {
  .controls {
    display: none;
  }
}

.accent {
  color: var(--bright-blue) !important;
  cursor: pointer;
  text-transform: capitalize;
}
